<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
      <h1 class="ion-text-center">Covid Test</h1>
    </ion-card-header>

    <ion-card-content>
      <br /><br /><br /><br />
      <ion-input placeholder="Registration No"></ion-input><br />
      <ion-button color="success" shape="round" expand="block" (click)="presentAlert()">Add</ion-button><br /><br />
    </ion-card-content>

  </ion-card>
</ion-content>