ion-toolbar {
    padding-bottom: 30%;
    ion-button {
      color: #000;
      text-transform: initial;
      font-size: 17px;
    }
    ion-title{
      font-size: 26px;
      color: black;
      font-weight: 700;
    }
  }
  
  ion-content {
    align-items: center;
    p{
        margin-top: 10%;
    }
    #form {
        margin-top: 10%;
        padding-left: 30px;
        padding-right: 30px;

    }
    #seperator {
        margin-bottom: 5%;
    }
    #buttons {
      ion-button{
        margin-top: 5%;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50px;
        --box-shadow: none; 
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  