<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
      <h1 class="ion-text-center">Covid Test</h1>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="success" shape="round" expand="block" routerLink="/covid-register">Add Covid Test +
      </ion-button><br /><br />
      <div class="circle">
        <div class="circle-text">
          <ion-text color="success">Negative</ion-text><br />
          02-21-2020
        </div>
      </div><br />
      <ion-grid>
        <ion-row>
          <h2>History</h2>
        </ion-row>
        <ion-row>
          <ion-col class="ion-no-padding" size="1">
            <ion-icon name="ellipse" color="success"></ion-icon>
          </ion-col>
          <ion-col class="ion-no-padding">Negative</ion-col>
          <ion-col class="ion-no-padding">Toronto, ON</ion-col>
          <ion-col class="ion-no-padding">02-21-2021</ion-col>
        </ion-row>
        <hr color="#f4f5f8" />
        <ion-row>
          <ion-col class="ion-no-padding" size="1">
            <ion-icon name="ellipse" color="success"></ion-icon>
          </ion-col>
          <ion-col class="ion-no-padding">Negative</ion-col>
          <ion-col class="ion-no-padding">Toronto, ON</ion-col>
          <ion-col class="ion-no-padding">12-30-2020</ion-col>
        </ion-row>
        <hr color="#f4f5f8" />
        <ion-row>
          <ion-col class="ion-no-padding" size="1">
            <ion-icon name="ellipse" color="danger"></ion-icon>
          </ion-col>
          <ion-col class="ion-no-padding">Positive</ion-col>
          <ion-col class="ion-no-padding">Toronto, ON</ion-col>
          <ion-col class="ion-no-padding">09-01-2020</ion-col>
        </ion-row>
        <hr color="#f4f5f8" />
        <ion-row>
          <ion-col class="ion-no-padding" size="1">
            <ion-icon name="ellipse" color="success"></ion-icon>
          </ion-col>
          <ion-col class="ion-no-padding">Negative</ion-col>
          <ion-col class="ion-no-padding">Toronto, ON</ion-col>
          <ion-col class="ion-no-padding">07-11-2020</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>
</ion-content>