<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
      <h1 class="ion-text-center">Passport</h1>
    </ion-card-header>

    <ion-card-content>
      <strong>Passport No</strong><br />
      NA1243890-YP<br /><br />
      <strong>Name</strong><br />
      Sang Min Park<br /><br />
      <strong>Date of Birth</strong><br />
      09-03-1995<br /><br />
      <strong>Gender</strong><br />
      Male<br />
      <ion-slides pager="true">
        <ion-slide>
          <ion-img class="screenshot" src="../../assets/undraw_profile_pic_ic5t.svg"></ion-img>
        </ion-slide>

        <ion-slide>
          <ion-img class="screenshot" src="../../assets/qr-code.svg.png"></ion-img>
        </ion-slide>
      </ion-slides>
    </ion-card-content>

  </ion-card>
</ion-content>